.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('Group2.svg');
    background-size: cover;
    text-indent: -9999px; /* 아이콘 텍스트 숨기기 */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FBF6EF;
  padding: 8px 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body { 
  margin: 0;
  
}

a {
  text-decoration: none;
  color: black;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 30px;
}